# Node
prueba-front/node_modules/
prueba-front/dist/
prueba-front/.vite/

# .NET
prueba/bin/
prueba/obj/
prueba/appointments.db

# Docker
**/.vscode/
**/.idea/
**/.dockerignore
**/Dockerfile

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
*.env
